body {
    color: #636363;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.container {
    max-width: 1199px;
    margin: auto;
}


/* ================== Header =====================*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    margin-right: 30px;
}

.header_content li {
    padding: 55px 15px;
    list-style: none;
    display: list-item;
    unicode-bidi: isolate;
}

.header_content li a {
    color: #070120;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.header_content li:hover a {
    color: #f55f8d;
}
.header_content li:hover span {
    animation: upToDown 0.3s forwards;
}
.header_content span {
    display: inline-block;
}

.header_content i {
    font-size: 9px;
    margin-top: -3px;
    vertical-align: middle;
}

.btn-header {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    line-height: 1.2;
    transition: all 0.5s;
}

.btn-header:hover {
    background-position: right center;
    transition: all 0.5s;
}


@keyframes upToDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* =================== CAROUSEL=====================*/
.carousel {
    padding-top: 180px;
    overflow: hidden;
    background-image: url(/image/pic2.png);
    background-position: none;
    background-size: 100%;
}
.carousel_content {
    display: flex;
    align-items: center;
}
.carousel_left {
    width: 60%;
}
 .title p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
    color: #f55f8d;
    display: block;
 }
.title h2 {
    font-weight: 800;
    font-size: 70px;
    line-height: 1.1;
    color: #262626;
    margin-bottom: 20px;
}
.carousel_article p {
    font-size: 18px;
    margin-bottom: 15px;
}
.carousel_article ul {
    margin-bottom: 20px;
}
.carousel_article li {
    padding: 10px 5px 10px 0;
    font-size: 20px;
    list-style: none;
}
.carousel_article i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 35px;
    font-weight: 900;
    background-image: linear-gradient(to right, #f55f8d, #f8ae56, #f55f8d 100%);
    background-size: 200%;
    margin-right: 10px;
}

.carousel_right {
    width: 40%;
}

.carousel_banner {
    width: 570px;
    margin-left: 50px;
    
}

.carousel_banner img {
    max-width: 100%;
    display: block;
}




/*=====================SERVICES====================*/
.services {
    padding-bottom: 115px;
    background-image: url(/image/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}
.services_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}
.services_item {
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgba(0,0,0,0.1);
    padding: 30px 45px;
    transform: translateY(0);
    border-image: 100 round;
    border: 3px solid transparent;
    transition: all 0.5s;
}
.services_item:hover {
    transform: translateY(-20px);
    border-image: url(/image/br.png) 1 round;
}
.services_item img {
    width: 215px;
}
.services_item h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #262626;
    margin: 15px 0;
}

/* ====================ABOUT US ====================*/
.aboutUs {
    background-image: url(/image/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
    overflow: hidden;
}

.aboutUs_content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.aboutUs_left {
    width: 60%;
    position: absolute;
    left: -17%;
}
.aboutUs_left img {
    width: 100%;
    border-radius: 0 100px 100px 0;
}
.aboutUs_right {
    width: 50%;

}
.aboutUs_right p {
    margin-bottom: 15px;
}
.aboutUs_right ul {
    margin-bottom: 30px;
}
.aboutUs_right li {
    list-style: none;
}
.aboutUs_right i {
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}

/* ================= NUMBER =================*/

.number {
    background-image: url(/image/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 5px;
    text-align: center;
}

.number_content {
    display: flex;
    justify-content: space-around;
}

.number_item {
    width: 25%;
}
.number_item i {
    font-size: 45px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 50%;
}
.number_item p:first-of-type {
    font-size: 60px;
    font-weight: 800;
    color: #f55f8d;
    margin-top: 0;
    margin-bottom: 0;
}
.number_item p:last-of-type {
    color: #262626;
    font-size: 18px;
    margin-top: 0;
}


/*====================features=======================*/
.features {
    background-image: url(/image/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 0;
    overflow: hidden;
}
.features_content {
    display: flex;

}
.features_left , .features_right {
    width: 50%;
}
.features_item {
    padding: 0 50px 30px 0;
}

.features_item:nth-of-type(2){
    padding: 0 0 30px 50px;
}
.features_item div {
    padding-left: 25px;
    z-index: 1;
}
.features_bg {
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.features_bg:hover::after {
    content: "";
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    opacity: 1;
}
.features_bg:hover i, .features_bg:hover h3, .features_bg:hover p{
    color: #fff;
}
.features_item i {
    font-size: 50px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;

}
.features_item div {
    padding-left: 25px;

}
.features_item h3 {
    font-weight: 800;
    color: #262626;
    font-size: 1.2rem;
    margin-bottom: -10px;
}

.features_banner {
    margin-right: -80px;
}
.features_banner img {
    max-width: 100%;
}

/*=================portfolio======================*/
.portfolio {
    background-image: url(/image/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    overflow: hidden;
}
.portfolio_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 35px;
}
.portfolio_item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.portfolio_item1 {
    grid-column: 1 / span 2;
}
.portfolio_item5 {
    grid-column: 1 / span 2;
}
.portfolio_item6 {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.portfolio_item img {
    width: 100%;
    height: 100%;
}
.portfolio_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: all 0.75s;
}
.portfolio_icon {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 28px;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d);
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px, -20px);
    transition: all 0.75s;

}
.portfolio_icon a {
    cursor: pointer;
    text-decoration: none;
}
.portfolio_icon .fa {
    font-weight: 900;
    line-height: 1;
    text-rendering: auto;

}
.portfolio_text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    transform: translateY(150px);
    transition: all 0.75s;
}
.portfolio_item:hover .portfolio_overlay {
    opacity: 1;
}
.portfolio_content .portfolio_item:hover .portfolio_text {
    transform: translateY(0);
}
.portfolio_text h3 {
    font-size: 22px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 0;

}
.portfolio_text p {
    color: #fff;
    opacity: 0.7;
    margin-top: 2px;
}

.portfolio .animate_fadeInUp:hover .plus,
.portfolio .animate_fadeInUp:hover .portfolio_text{
    animation: fadeInUp 1s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0,100%,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

/* =====================Footer=======================*/
footer {
    background-image: url(/image/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}
footer::before {
    content: "";
    background-image: url(/image/pattern2.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer_top {
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgba(0,0,0,0.1);
    background-image: url(/image/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}
.footer_text , .footer_form{
    width: 50%;
}
.footer_text h2 {
    font-size: 28px;
    color: #262626;
}
.footer_form form {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rbg(0,0,0,0.1);
    
}
.footer_form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: none;
}

.footer_form button {
    padding: 20px 35px;
    font-size: 20px;
    background-image:linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d);
    background-size: 200%;
    border-color: transparent;
    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    cursor: pointer;
}

.footer_bot {
    display: flex;
    padding: 70px 0;
    position: relative;
}
.footer_item {
    width: 25%;
}
.footer_item a {
    color:#636363;
    font-size: 16px;
    text-decoration: none;
}
.footer_item li {
    padding: 0.5rem 0;
    list-style: none;
}
.footer_contact li {
    display: flex;
    align-items: center;
}
.footer_item i {
    font-weight: 700;
    margin-right: 10px;
}

.footer_contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d);
    display: block;
    border-radius: 50px;
}
.footer_item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}
.footer_item a {
    color: #636363;
    font-size: 16px;

}

.footer_copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}
.footer_content {
    display: flex;
    justify-content: space-between;
}

.footer_left span {
    color: #f55f8d;
}
.footer_right a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: white;
    background-color: rgba(255,255,255,0.1);
    
}


